$brown: #423c3c;
$gray: #dfd0d0;
$purpure: #ff4ad2ff;
$blueSky: #336ce9;
$brilliant-blue: #0b1742;

$whatsapp: #43d854;
$instagram: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);

$french-violet: #7400b8ff;
$grape: #6930c3ff;
$slate-blue: #5e60ceff;
$united-nations-blue: #5390d9ff;
$picton-blue: #4ea8deff;
$aero: #48bfe3ff;
$sky-blue: #56cfe1ff;
$tiffany-blue: #64dfdfff;
$turquoise: #72efddff;
$aquamarine: #80ffdbff;

$true-blue: #0466c8ff;
$sapphire: #0353a4ff;
$yale-blue: #023e7dff;
$oxford-blue: #002855ff;
$oxford-blue-2: #001845ff;
$oxford-blue-3: #001233ff;
$delft-blue: #33415cff;
$paynes-gray: #5c677dff;
$slate-gray: #7d8597ff;
$cool-gray: #979dacff;
