@import '../../links/colors.scss';

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;

  min-width: 368px;
  padding: 20px;

  position: absolute;
  left: 0;
  top: calc(100% + 1px);
  z-index: 2;

  background: #fff;

  opacity: 0;
  visibility: hidden;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 16px 32px;

  transition: all 0.3s;

  &.open {
    opacity: 1;
    visibility: visible;
  }
}
