@import '../../links/colors.scss';

.input {
  width: 100%;
  height: 40px;
  padding-left: 15px;

  appearance: none;

  border: 1px solid $blueSky;
  border-radius: 100px;
}

.square_input {
  width: 100%;
  height: 40px;
  padding-left: 15px;

  appearance: none;

  border: 1px solid $blueSky;
  outline: none;

  text-transform: capitalize;
  transition: box-shadow 0.3s ease-out 0s;

  &:focus,
  &:focus-visible {
    box-shadow: $blueSky 0px 0px 0px 1px inset;
  }
}

.check_anim {
  --background-color: #fff;
  --checkbox-size: 15px;

  width: var(--checkbox-size);
  height: var(--checkbox-size);

  input[type='checkbox'] {
    display: none;
  }

  .check_box {
    height: var(--checkbox-size);
    width: var(--checkbox-size);
    background-color: transparent;
    border: calc(var(--checkbox-size) * 0.1) solid #fff;
    border-radius: 25%;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    transition: border-color ease 0.2s;
    cursor: pointer;

    &::after,
    &::before {
      content: ' ';
      box-sizing: border-box;
      position: absolute;
      height: 0;
      width: calc(var(--checkbox-size) * 0.2);
      background-color: $blueSky; // Assuming $blueSky is defined somewhere
      display: inline-block;
      transform-origin: left top;
      border-radius: 5px;
      transition: opacity ease 0.5;
    }

    &::before {
      top: calc(var(--checkbox-size) * 0.72);
      left: calc(var(--checkbox-size) * 0.41);
      transform: rotate(-135deg);
    }

    &::after {
      top: calc(var(--checkbox-size) * 0.37);
      left: calc(var(--checkbox-size) * 0.05);
      transform: rotate(-45deg);
    }
  }
}

.check_anim input[type='checkbox']:checked + .check_box,
.check_anim .check_box.checked {
  border-color: $blueSky; // Assuming $blueSky is defined somewhere
}

.check_anim input[type='checkbox']:checked + .check_box::after,
.check_anim .check_box.checked::after {
  height: calc(var(--checkbox-size) / 2);
  animation: left-line 0.2s ease 0s forwards;
}

.check_anim input[type='checkbox']:checked + .check_box::before,
.check_anim .check_box.checked::before {
  height: calc(var(--checkbox-size) * 1.2);
  animation: right-line 0.4s ease 0s forwards;
}

@keyframes left-line {
  0% {
    height: 0;
  }

  100% {
    height: calc(var(--checkbox-size) / 2);
  }
}

@keyframes right-line {
  0% {
    height: 0;
  }

  50% {
    height: 0;
  }

  100% {
    height: calc(var(--checkbox-size) * 1.2);
  }
}
