@import '../../links/adaptive_mixin.scss';

.slider {
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;

  position: relative;
}

.slider__slides {
  display: flex;
  width: 100%;
  height: 100%;
}

.slider__slide {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  text-align: center;
  font-size: 30px;

  color: #fff;
  background-color: red;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.slider__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding-inline: 24px;

  position: absolute;
  left: 0;
}

.slider__pagination {
  font-size: 16px;
  color: #fff;

  visibility: hidden;
  opacity: 0;
}

.slider__button {
  background: url(../../../imgs/icons/prev.svg) center/cover no-repeat;
  @include adaptive_property(30px, 50px, 320px, 1280px, width);
  @include adaptive_property(30px, 50px, 320px, 1280px, height);
}

.slider__button__prev {
}

.slider__button__next {
  rotate: 180deg;
}

.button__disabled {
  opacity: 0.5;
}

@media screen and (max-width: 767px) {
  .slider__buttons {
    justify-content: flex-start;
    gap: 30px;

    position: absolute;
    bottom: 28px;
  }

  .slider__pagination {
    visibility: visible;
    opacity: 1;
  }

  .slider__button {
    background-image: url(../../../imgs/icons/arrow_left.svg);
  }
}
