@import '../../links/colors.scss';
@import '../../links/adaptive_mixin.scss';

.choosing_help {
  width: 100%;
  margin-bottom: 70px;

  color: #fff;
}

.container {
  display: flex;
  justify-content: space-between;
  row-gap: 25px;

  width: 100%;
  padding: 80px 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../../imgs/backgrounds/background_for_form-mobile.jpeg) center/cover no-repeat;

  border-radius: 5px;
}

.text {
  display: flex;
  flex-direction: column;

  height: 100%;

  &__title {
    @include adaptive_property(24px, 40px, 320px, 1280px, margin-bottom);

    @include adaptive_property(28px, 40px, 320px, 1280px, font-size);
    font-weight: 700;
  }

  &__subtitle {
    max-width: 340px;
    @include adaptive_property(14px, 18px, 320px, 1280px, font-size);
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;

  height: 100%;
}

.privacy_policy {
  display: flex;
  align-items: center;
  gap: 10px;

  &:hover {
    cursor: pointer;
  }
}

.link {
  color: $blueSky;
}

//media screen

@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
    align-items: center;

    width: 100%;

    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(../../../imgs/backgrounds/background_for_form-mobile.jpeg);
  }

  .text {
    align-items: center;
    text-align: center;
    &__subtitle {
      max-width: 70%;
    }
  }

  .form {
    width: 100%;
  }
}
