@import '../../links/colors.scss';

.ourProjects {
  width: 100%;
  margin-bottom: 70px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 20px 0;

  color: $blueSky;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.item {
  width: 100%;
  // width: calc(33% - (20px * 2 / 3));
  height: 300px;
  object-fit: cover;
}
